* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:inherit;
    font-size: 10px;
    text-align:start;
    padding-top: 1.5rem;
    background-color: rgba(185, 184, 184, 0.616);
}


:root {
    /* variables de color */
    --rojo : rgb(240, 27, 27);
    --verde: rgba(36, 105, 39, 0.795);
    --amarillo: #F7E914;
    --gris: #c4c4c4;


    /* variables de tamaño de letra */
    --h1 : 5rem;
    --h2 : 3rem;
    --h3 : 14rem;
    --texto : 1.5rem;
}


/* Estructura de las secciones */

.background-section {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-body {
    max-width: 130rem;
    height: auto;
    margin: auto;
  
}
